.home{
    height: 100vh;
    width: 100%;
    position: relative;
    
}

.hero:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.home .homecontent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
    padding: 1rem;
}

.home .homecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.hi-sentence p{
    font-size: 20px;
    color: #92D1FF;

}
.homename p {
    font-size: 90px;
    color: #17FFB9;
    font-weight: 600;
    
}
.homename{
    animation-name: moveright;
    animation-duration: 1s;
}
.home-img{
    animation-name: moveleft;
    animation-duration: 1s;
}
.mediumbutton{
    animation-name: moveup;
    animation-duration: 0.6s;
}
.hi-sentence{
    animation-name: moveleft;
    animation-duration: 0.7s;
}
.homedescription{
    animation-name: moveleft;
    animation-duration: 0.7s;
}
@keyframes moveleft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}

@keyframes moveup {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}

@keyframes moveright {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}
.homeprofession {
    font-size: 70px;
    color: #92D1FF;
    font-weight: 500;
}
.homedescription{
    width: 80%;
}
.homedescription p {
    color: #92D1FF;
    font-weight: 400;
}

.home-img img{
    width: 400px;
}
.mediumbutton{
    margin-top: 20px;
}
.mediumbutton a:hover{
     color: #17FFB9;
    border: #17FFB9 1px dashed;
}

.mediumbutton a{
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40%;
    font-size: 15px;
    text-decoration: none;
    color: #92D1FF;
    border: solid #92D1FF 1px;
    border-radius: 0.7rem;
}

button{
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 15px;
    color: #92D1FF;
    border: solid #92D1FF 1px;
    border-radius: 0.7rem;
}
button:hover{
    color: #17FFB9;
    border: #17FFB9 1px dashed;
    /* fill: #17FFB9; */
}
.mediumbutton svg:hover{
    fill: #17FFB9;
}
svg{
    fill: #92D1FF;
    width: 50px;
    margin-right: 10px;
}

@media screen and (max-width:1160px){
    .home .homecontent{
        flex-direction: column;
        margin-top: 50px;
    }
    .homeprofession{
        font-size: 50px;
    }
   
    .home-img img{
        width: 300px;
       margin-top: 30px;
    }
    .mediumbutton a{
        width: 50%;
    }
}
@media screen and (max-width:500px){
    .homename p{
        font-size: 50px;
    }
    .homecontent{
        margin-top: 100px;
    }
    .homeprofession {
        font-size: 30px;
    }
    .homedescription p{
        font-size: 15px;
    }
    .mediumbutton{
        width: 90%;
    }
    .mediumbutton a{
        width: 100%;
    }
}

@media screen and (max-width:380px){
    .homename p {
        font-size: 40px;
    }
   svg{
    width: 30px;
   }
   .home .homecontent{
    margin-top: 150px;
   }
}